fastapi[standard]
fastembed
jupyter
langfuse
llama-index
llama-index-embeddings-fastembed
llama-index-llms-ollama
llama-index-readers-file 
llama-index-retrievers-bm25
llama-index-vector-stores-qdrant
python-dotenv
qdrant_client 
sentence-transformers
streamlit
torch
sqlalchemy
psycopg2-binary

trubrics[streamlit]
llama-index-agent-lats
llama-index-agent-introspective